@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Stick+No+Bills:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "AugustBold";
    font-style: normal;
    src: url(/font/August-Bold.ttf) format("woff2");
  }
}
.august-bold {
  font-family: "AugustBold";
}
canvas {
  display: block;
}

/* ---- tsparticles container ---- */
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #878787;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
